.w1200{width:1200px; margin:0 auto;}
.block{display:block;}
.blue{color:#00a0e9;}

.yahei{font-family:Microsoft Yahei;}
.arial{font-family:Arial;}

.fl{float:left;}
.fr{float:right;}

.font12{font-size:12px;}
.font13{font-size:13px;}
.font14{font-size:14px;}
.font15{font-size:15px;}
.font16{font-size:16px;}
.font17{font-size:17px;}
.font18{font-size:18px;}
.font20{font-size:20px;}
.font21{font-size:21px;}
.font22{font-size:22px;}
.font23{font-size:23px;}
.font24{font-size:24px;}
.font26{font-size:26px;}
.font27{font-size:27px;}
.font28{font-size:28px;}
.font30{font-size:30px;}

/*----字体加粗----*/
.bold{font-weight:bold;}
.nobold{font-weight:normal;}

/*----字体位置----*/
.txt-c{text-align:center;}
.txt-l{text-align:left;}
.txt-r{text-align:right;}


/*----特殊边距----*/
.pt2{padding-top:2px;}
.pt3{padding-top:3px;}
.pt7{padding-top:7px;}
.p10{padding:10px;}
.m10{margin:10px;}
.pt40{padding-top:40px;}
.pb40{padding-bottom:40px;}

/*----5边距----*/
.ml5{margin-left:5px;}
.mr5{margin-right:5px;}
.mt5{margin-top:5px;}
.mb5{margin-bottom:5px;}
.pl5{padding-left:5px;}
.pr5{padding-right:5px;}
.pt5{padding-top:5px;}
.pb5{padding-bottom:5px;}


/*----10边距----*/
.ml10{margin-left:10px;}
.mr10{margin-right:10px;}
.mt10{margin-top:10px;}
.mb10{margin-bottom:10px;}
.pl10{padding-left:10px;}
.pr10{padding-right:10px;}
.pt10{padding-top:10px;}
.pb10{padding-bottom:10px;}


/*----15边距----*/
.ml15{margin-left:15px;}
.mr15{margin-right:15px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.pl15{padding-left:15px;}
.pr15{padding-right:15px;}
.pt15{padding-top:15px;}
.pb15{padding-bottom:15px;}


/*----20边距----*/
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.pl20{padding-left:20px;}
.pr20{padding-right:20px;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}


/*----30边距----*/
.ml30{margin-left:30px;}
.mr30{margin-right:30px;}
.mt30{margin-top:30px;}
.mb30{margin-bottom:30px;}
.pl30{padding-left:30px;}
.pr30{padding-right:30px;}
.pt30{padding-top:30px;}
.pb30{padding-bottom:30px;}

.combox{}

.combox:after,
.about-banner:after,
.about-list:after,
.about-more:after,
.about-expansion:after,
.contact-line:after,
.news-list:after
{clear:both;
content:".";
display:block;
font-size:0;
height:0;
line-height:0;
visibility:hidden;}


.about-banner,
.about-list,
.combox,
.about-more,
.about-expansion,
.news-list
{word-wrap:break-word; overflow:hidden;}

.contact-line
{word-wrap:break-word;}

.about-banner{height:400px; background:#00a0e9;}
.about-list{margin-top:50px;}
.about-listl{width:300px; float:left; margin-right:50px;}
.about-listl img{width:300px; height:151px;}
.about-listr{float:left; width:850px;}
.about-more{border-bottom:1px solid #aaa;}
.about-more a{margin-left:350px; color:#999;}
.about-more a:hover{color:#333;}
.about-expansion{}
.contact-line{border-bottom:1px solid #00a0e9;  margin:60px 0px 40px 0px;}
.contact-line a{display:inline-block; line-height:40px; padding:0px 15px 7px; margin-bottom:-3px; margin-right:20px;}
.contact-line a.conatctnow{border-bottom:7px solid #00a0e9;}
.contact-l{width:570px; float:left;}
.contact-r{width:530px; float:left; padding-left:100px;}
.news-list{margin-left:-1px;}
.news-list ul li{width:399px; display:block; float:left; margin:0px 0px 30px 1px;}
.newsin{width:399px; height:286px; display:block; position:relative;}
.newsin .newinbg{width:399px; height:286px; display:none;}
.newsin:hover .newinbg{width:359px; height:196px; color:#fff; padding:70px 20px 20px 20px; display:block; background:url(images/other/newinbg.png); position:absolute; left:0; top:0;}
.newsin:hover .newinbg img{width:399px; height:286px;}
.newsin .newinbg .newsinadd{width:40px; height:40px; background:url(images/other/ja.gif) no-repeat; position:absolute; right:30px; bottom:30px;}
.news-more{background:#00a0e9; line-height:43px; height:43px; border-radius:3px; display:inline-block; padding:0px 30px;}
.news-more:hover{background:#0385c1;}

.video{margin-left:-107px;}
.video ul li{width:320px; height:220px; float:left; color:#333; margin:0px 0px 50px 115px;}
.videoin{width:320px; height:180px; position:relative;}
.videoin.video-hover{width:320px; height:240px; display:none;}
.videoin:hover .video-hover{width:320px; height:240px; background:url(images/other/video-hover1.png) no-repeat; position: absolute; left:0px; top:0px; z-index:11;}
.video ul li p{padding-top:10px;}
