.c{zoom:1;}
.c:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.demo-test {display: -webkit-box;display: -ms-flexbox; display: -webkit-flex; display: flex;}
.demo-test {height: 100%;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center; -ms-flex-align: center;-webkit-align-items: center;align-items: center;}
#boxwarp .header { position:relative; overflow:visible; height:90px;box-shadow:0px 0px 10px #000;}
#boxwarp .headerbody {overflow:visible; width:1200px;}
#boxwarp .footerbody {width:1200px;}
#boxwarp .footerShare { left:50%; margin-left:-18px;}
#boxwarp .homemenu { height:38px; line-height:38px; padding:100px 0;}
#boxwarp .homemenu ul { line-height:38px; height:38px;}
#boxwarp .homemenu ul li a { font-size:16px;}
#boxwarp .nav { padding:0; line-height:94px;}
.two-menu { width:100%; position:absolute; left:0; top:92px; background:#fff; border-bottom:1px solid #d2d2d2;opacity:0;transition-property:opacity height;
transition-duration:0.3s, 0.3s;
transition-timing-function:ease-in;
transition-delay:0; height:0; overflow:hidden;z-index:9999;}
.nav li:hover .two-menu{ opacity:1; height:178px;}
.nav li:hover .two-nav:before {content:"";font-size: 0; width: 15px;height: 10px; position:absolute; left:50%; top:82px; background:url(images/product/products_13.png); display:block; margin-left:-8px;}
.nav li a { display:block;}
.two-menu ul { width:1160px; margin:0 auto; padding:20px;}
.two-menu ul li { float:left; padding-left:80px; text-align:center;}
.two-menu ul li a { font-size:15px; color:#535353; line-heigsht:30px; text-decoration:none;} .two-menu ul li a:hover { color:#008bd6;}
.nav li .two-nav { color:#008bd6; position:relative;}

.productshow-banner { width:100%; height:600px; position:relative; top:-10px;}
.fullSlide { width:100%; height:600px; position:relative; overflow:hidden;}
.fullSlide .bd {width:100%; height:600px; position:relative;}
.fullSlide .bd ul {width:100%; height:600px;position:relative;}
.fullSlide .bd ul li { width:100%;  height:600px; overflow:hidden;}
.fullSlide .hd { position:absolute; width:100%; text-align:center; bottom:100px;}
.fullSlide .hd li { width:6px; height:6px; border:2px solid #fff; border-radius:50%; display:inline-block; margin:0 5px; text-indent:-9999px;}
.fullSlide .hd li.on {border:2px solid #008cd6; background:#008cd6;}

.mainwarp { width:1200px; margin:0 auto; position:relative; top:-45px;}
.product-nav { width:100%; height:129px; overflow:hidden;}
.product-nav li { background:#008bd6; width:133.5px; box-sizing:border-box; float:left; height:129px; position:relative; left:-1px; border-left:1px solid #fff;}
.product-nav li a{ color:#fff; font-size:15px; text-align:center; display:block;}
.product-nav li a span { height:98px; width:100%;}
.product-nav li a img { }
.product-nav li a p{ line-height:32px;}
.product-nav li:hover { background:#f39700;}
.product-nav li.active {background:#f39700;}

.pro-box { padding-top:40px;width:1100px;margin:0 auto;}
.pro-boxlist ul { border:1px solid #e5e5e5;}
.pro-boxlist ul li{ width:33.33%; height:400px; border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5; position:relative; top:-1px; left:-1px; float:left; box-sizing:border-box;}
.pro-boxlist ul li img { max-width:398px; max-height:340px;}
.pro-boxlist ul li p { line-height:56px; font-size:15px; text-align:center;}
.pro-more { padding-top:20px; text-align:center; line-height:20px; font-size:15px;}
.pro-more a { color:#34a3e3;}
.example4 {width:1198px; height:129x; position:relative;}
.example4 .sly{ width:1100px; height:129px; margin:0 auto;}
.prevPage { width:49px; height:129px; position:absolute; left:0; top:0; text-indent:-9999px;}
.nextPage { width:49px; height:129px; position:absolute; right:0; top:0; text-indent:-9999px;}
.btn:before {content:"";font-size: 0; width: 100%;height:100%; position:absolute; left:0; top:0; background:#fff;opacity:0.5; z-index:22;}
.prevPage i { width:100%; height:100%; display:block; background:url(images/product/products_23.png) no-repeat center center;position:absolute; left:0; top:0; z-index:33;}
.prevPage:hover i{background:url(images/product/products_22.png) no-repeat center center;}
.nextPage i { width:100%; height:100%; display:block; background:url(images/product/products_25.png) no-repeat center center;position:absolute; left:0; top:0; z-index:33;}
.nextPage:hover i{background:url(images/product/products_24.png) no-repeat center center;}
