.shop_01 i{ width:110px; height:91px; display:block; background:url(../img/shop_09.png) no-repeat left top; margin:10px 0;}
.shop_01:hover i{ background-position: left -91px;}
.shop_02 i{ width:110px; height:91px; display:block; background:url(../img/shop_10.png) no-repeat left top; margin:10px 0;}
.shop_02:hover i{ background-position: left -91px;}
.shop_03 i{ width:110px; height:91px; display:block; background:url(../img/shop_11.png) no-repeat left top; margin:10px 0;}
.shop_03:hover i{ background-position: left -91px;}

.shop_box01 { width:100%; background:#fff; height:700px; overflow:hidden;}
.box01-main { width:1200px;height:700px; margin:0 auto; position:relative;}
.box01-img01 { margin:95px 0 0 40px;}
.box01-img02 { position:absolute; left:460px; top:240px;}

.box01-wenzi { position:absolute; width:376px; height:225px; right:0; top:190px;}
.wenzi_01 { font-size:30px; line-height:48px; color:#626262;}
.wenzi_02 { font-size:30px; line-height:48px; color:#f39700;}
.goumai { width:132px; height:35px; text-align:center; line-height:32px; color:#fff; font-size:14px; display:block; background:url(../img/shop_03.png) no-repeat; margin-top:20px;}
.goumai:hover { color:#fff; text-decoration:none; opacity:0.8;}

.shop_box02 { width:100%; height:700px; overflow:hidden; background:#f2f2f2 url(../img/shop_01.jpg) no-repeat center bottom;}
.box02-img01 { position:absolute; right:98px; top:40px;-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
.box02-wenzi { top:200px; position:absolute; left:50px;-webkit-transform: translateX(-2000px);transform: translateX(-2000px);}
.shop_box03 {width:100%; height:700px; overflow:hidden;}
.box03-main { width:1200px; margin:40px auto; position:relative;}
.box03-left { width:399px; height:622px; float:left; border-right:1px solid #dadada; text-align:center;-webkit-transform: translateX(-2000px);transform: translateX(-2000px);}
.box03-left img { padding:80px 0 30px;}
.box03-wen { line-height:62px; font-size:18px; color:#434343;}
.box03-wen a { color:#0068b7; text-decoration:none; font-size:14px; padding-left:20px;}
.box03-wen a:hover {color:#007fdf; text-decoration:none;}
.box03-right01 { width:800px; float:left; border-bottom:1px solid #dadada; height:305px; text-align:center;-webkit-transform: translateY(-2000px);transform: translateY(-2000px);}
.box03-right01 img { padding:80px 0 0 0;} 
.box03-right02 { width:400px; height:315px; float:left;border-right:1px solid #dadada; text-align:center;-webkit-transform: translateY(2000px);transform: translateY(2000px);}
.box03-right02 img { padding:36px 0 0 0;}
.box03-right03 { width:398px; height:315px; float:left; text-align:center;-webkit-transform: translateX(2000px);transform: translateX(2000px);}
.box03-right03 img { padding:86px 0 40px 0;}






@-webkit-keyframes flipInY{0%{-webkit-transform:perspective(400px) rotateY(90deg);opacity:0}
40%{-webkit-transform:perspective(400px) rotateY(-10deg)}
70%{-webkit-transform:perspective(400px) rotateY(10deg)}
100%{-webkit-transform:perspective(400px) rotateY(0deg);opacity:1}}
@-moz-keyframes flipInY{0%{-moz-transform:perspective(400px) rotateY(90deg);opacity:0}
40%{-moz-transform:perspective(400px) rotateY(-10deg)}
70%{-moz-transform:perspective(400px) rotateY(10deg)}
100%{-moz-transform:perspective(400px) rotateY(0deg);opacity:1}}
.flipInY{-webkit-backface-visibility:visible!important;-webkit-animation-name:flipInY;-moz-backface-visibility:visible!important;-moz-animation-name:flipInY}
